<form ng-submit="searchBox.search(searchBox.query)" layout="row" layout-align="start center">
  <input type="text" placeholder="Search" class="globalsearch" flex
         ng-focus="searchBox.focus()" ng-model="searchBox.query">
  <md-button class="md-icon-button" ng-click="searchBox.search(searchBox.query)"
      ng-if="$root.G.searching">
    <md-icon md-font-library="material-icons">search</md-icon>
  </md-button>
  <md-button class="md-icon-button" ng-click="searchBox.clear()"
      ng-if="$root.G.searching">
    <md-icon md-font-library="material-icons">clear</md-icon>
  </md-button>
</form>
