<html ng-app="angularish">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
    <title>Angularish</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="packages/angular-material/angular-material.css">
    <link rel="stylesheet" href="main.css">
  </head>
  <body layout="column">

    <div id="overlay" ng-if="!G.haveContext" layout="column" layout-align="center center" flex>
      <md-progress-circular class="md-accent" md-mode="indeterminate"></md-progress-circular>
    </div>

    <section id="main" ng-if="G.haveContext" layout="column" flex ng-cloak>
      <md-toolbar id="appbar" layout="row" layout-align="start center">
        <header layout="row" layout-align="start center" ui-view="appbar-left">
          <h2 id="logo">A</h2>
          <h2>Angularish</h2>
        </header>
        <a-spacer></a-spacer>
        <md-button class="md-icon-button" ui-sref="app.search">
          <md-icon md-font-library="material-icons">search</md-icon>
        </md-button>
      </md-toolbar>
      <md-content flex layout="column">
        <div id="header-color"></div>
        <section ui-view="main" id="content" flex>
            <h1>Content goes here</h1>
            <md-card>
              <md-card-content>
                <md-subheader>Something</md-subheader>
              </md-card-content>
            </md-card>
        </section>
      </md-content>
    </section>

    <script src="packages/angular/angular.js"></script>
    <script src="packages/angular-animate/angular-animate.js"></script>
    <script src="packages/angular-aria/angular-aria.js"></script>
    <script src="packages/angular-material/angular-material.js"></script>
    <script src="packages/angular-messages/angular-messages.js"></script>
    <script src="packages/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="common/spacer.js"></script>
    <script src="constants.js"></script>
    <script src="context/context.js"></script>
    <script src="home/home.js"></script>
    <script src="nav/back.js"></script>
    <script src="nav/navigation.js"></script>
    <script src="search/searchbox.js"></script>
    <script src="sidebar/sidebar.js"></script>
    <script src="main.js"></script>
  </body>
</html>
