html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, form {
  margin: 0;
  padding: 0;
}

#overlay {
  z-index: 333;
  background-color: rgba(240, 240, 240, 0.75);
}
#overlay md-progress-circular {
  height: 50px;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
  position: absolute;
  top: 50%;
  width: 50px;
}

#appbar {
  height: 64px;
  padding: 0 24px;
  transition-property: background-color;
  transition-duration: 0.2s;
}

#appbar > header {
  width: 240px;
  margin: 0;
}

#logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #F5F5F5;
  color: #333;
  text-align: center;
  transition-property: background-color, color;
  transition-duration: 0.2s;
  margin-right: 10px;
}

#appbar.searching {
  background-color: #FFF;
  color: #333;
}
#appbar.searching #logo {
  background-color: #333;
  color: #F5F5F5;
}

#sidebar {
  background-color: #F5F5F5;
  padding: 8px;
}

#sidebar label {
  color: #999;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 2;
  display: block;
}
#sidebar nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#sidebar nav li {
  border-left: 2px solid transparent;
  line-height: 2;
  padding: 0 6px;
  box-sizing: border-box;
}
#sidebar nav .active {
  border-color: #E64A19;
  color: #E64A19;
  font-weight: bold;
}

.fnbar {
  background-color: #424242;
  color: #F5F5F5;
}


/* Search */

input.globalsearch {
  background-color: rgba(255, 255, 255, 0.15);
  border: none;
  line-height: 1.5;
  height: 40px;
  padding: 0 8px;
  color: inherit;
  font-family: inherit;
  transition-property: background-color, color;
  transition-duration: 0.2s;
}
input.globalsearch:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
input.globalsearch:focus {
  outline: none;
}
input.globalsearch ~ .md-icon-button,
input.globalsearch ~ .md-icon-button > md-icon {
  color: inherit;
}

input.globalsearch::-webkit-input-placeholder {
   color: inherit;
   font-family: inherit;
}
